{% extends "base_pages.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Django People</h1>
          <hr class="mt-0 mb-4">

            <div class="form">
                <form method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.first_name | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name | as_crispy_field }} 
                        </div>
                    </div>
                    {{ form.email | as_crispy_field }}
                    {{ form.message | as_crispy_field }}
                    <button type="submit" class="btn btn-success">SEND</button>
                </form>
            </div>
        </div>
      </div>
    </div>


{% endblock %}