{% extends "base.html" %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th>Login: </th>
        <th>Id: </th>
        <th>Name: </th>
        <th>avatar</th>
        <th>gravatar</th>
        <th>url</th>
        <th>html_url</th>
        <th>bio</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th>{{ todo.login }}</th>
        <th>{{ todo.id }}</th>
        <th>{{ todo.name }}</th>
        <th>{{ todo.avatar_url }}</th>
        <th>{{ todo.gravatar_id }}</th>
        <th>{{ todo.url }}</th>
        <th>{{ todo.html_url }}</th>
        <th>{{ todo.bio }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock%}