{% extends "base.html" %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th>Login: </th>
        <th>Id: </th>
        <th>Name: </th>
        <th>avatar</th>
        <th>gravatar</th>
        <th>url</th>
        <th>html_url</th>
        <th>bio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ login }}</th>
        <th>{{ id }}</th>
        <th>{{ name }}</th>
        <th>{{ avatar_url }}</th>
        <th>{{ gravatar_id }}</th>
        <th>{{ url }}</th>
        <th>{{ html_url }}</th>
        <th>{{ bio }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock%}