{% extends 'base.html' %}

{% block content %}

<div class="container">

        <div class="col-md-12 bio">
            <img src="https://avatars3.githubusercontent.com/u/44822671?s=460&v=4" alt="Avatar" width="100" height="100">
            <h1>{{ dev }}</h1>
            <p>{{ dev.bio }}</p>
        </div>


    <hr>

    <div class="row">

        <ul id="hexGrid">

            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="">
                  <h1>Fast</h1>
                  <p>Some sample</p>
                </a>
              </div>
            </li>


            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="">
                  <h1>Safe</h1>
                  <p>Some sample</p>
                </a>
              </div>
            </li>


      
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="">
                  <h1>Dynamic</h1>
                  <p>Some sample</p>
                </a>
              </div>
            </li>



        
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="">
                  <h1>Responsive</h1>
                  <p>Some sample</p>
                </a>
              </div>
            </li>

        </ul>

    </div>

    <hr>

    <div class="row bottom_itens">

        <div class="col-md-5 jobs">
            <h2><a href="jobs">Jobs</a><h2>
            {% for job in jobs %}
            <h3><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></h3>
            <p>{{ job.description }}</p>
            {% endfor %}
        </div>

        <hr>

        <div class="col-md-5 tools">
            <h2><a href="tools">Tools</a></h2>
            {% for tool in tools %}
            <h3><a href="{{ tool.get_absolute_url }}">{{ tool.name }} </h3>
            <a href="{{ tool.language.get_absolute_url }}">{{ tool.language }}</a>
            {% endfor %}
        </div>

    </div>

    <div>

      <h2>Want to Build a good, fast and secure web application?</h2>

      <p><a href="contact">Contact me</a></p>
    </div>
    
</div>
{% endblock %}