.login-container {
  padding: 30em;
}


.login-img {
  position: relative;
  margin-left: 10%;
}
.login-app-container {
  position: relative;
  margin-left: 5em;
  align-items: center;
}
.login-app-button {
  position: relative;
  padding: 25px;
  background: lightgray;
  width: 450px;
  height: 150px;
  margin: 2em;
  margin-top: 0.5em;
}
.login-img-button {
  margin:  auto;
}
.job-title {
  margin: auto;
  margin-top: 1em;
  color: green;
}

.apps-container {  
  margin: auto;
  text-align: center;
}

a { 
  text-decoration: none; 
}



