{% extends 'base.html' %}

{% block title %}
    <title>Hero - Portfolio | Bruno Terres</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-10 about">
        <h2>Welcome to <strong>Hero</strong></h2>

        <p class="about-txt">                
            A Django-based adaptation of the <strong>Be The Hero </strong> application, taught at the 11th edition of the week OmniStack
            Developed by Rocketseat. Originally done entirely with the JavaScript libraries React and React Native in conjunction with Node.js
            and an SQLite database.
            At this version I use a Python Stack, with the Django framework as a backend together with Gunicorn and Nginx to serve
            HTML templates and statistical files, as well as a PostgreSQL database.

            Be The Hero (django version)
            Application to connect NGOs and other institutions to people who are available to help.
            Powered By Django, developed by <em>Bruno Terres</em>!
        </p>
        
        <p>
            All NGOs registered here are just ficticial examples to show you the <strong>Hero</strong> aplication.
            Email sender is deactivated to avoid spam.
        </p>

       
        {% if user.is_authenticated %}

        <p>Now you can create 1 NGO and 5 Incidents.</p>
        
        {% else %}

        <h3><strong><a href="{% url 'login' %}">Login </a>to Create NGOs and Incidents.</strong></h3>

        {% endif %}
    </div>
     
</div>


<div class="return row">
    <h3 class="col-md-4">Or Return to :</h3>
    <a href="{% url 'home:home' %}" class="col-md-3 button return-btn">HomePage</a>

</div>
{% endblock %}